<!DOCTYPE html>
<html lang="en">
    <head>
       <title>Crime Map</title>
       <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
       <script type="text/javascript">
        var map;
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(14.6760, 121.0437), zoom: 15
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            google.maps.event.addListener(map, 'click', function(event) {placeMarker(event.latLng);});
        }

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }

        </script>
   </head>
<body onload="initialize()">
    <h1>Crime Map</h1>
    <form action="/add" method="POST">
        <input type="text" name="userinput">
        <input type="submit" value="Submit">
    </form>
    <a href="/clear">clear</a>
    {{ data }}
    {% for userinput in data %}
        <p>{{ userinput }}</p>
    {% endfor %}
    <div id="map-canvas" style="width:80%; height:500px;">
    </div>
</body>
</html>
